/** common mixins **/
html {
  padding: 0;
  margin: 0;
}
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: white;
  padding: 0;
  margin: 0;
}
#scene-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#invisible-container {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
/* index */
#index {
  position: fixed;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#index .taipei-block,
#index .taichung-block {
  position: absolute;
  cursor: pointer;
  width: 50%;
  height: 100%;
}
#index .taipei-block .cover,
#index .taichung-block .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  transition: opacity 0.5s linear;
}
#index .taipei-block:hover .cover,
#index .taichung-block:hover .cover {
  opacity: 0;
}
#index .taipei-block .text,
#index .taichung-block .text {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -120px;
  background-image: url("../images/text-taipei.png");
  background-size: auto;
  width: 344px;
  height: 203px;
  margin-left: -172px;
}
#index .taipei-block {
  left: 0;
  top: 0;
  background-image: url("../images/image-taipei.jpg");
  background-size: auto;
  background-size: cover;
  background-position: center;
}
#index .taipei-block .text {
  background-image: url("../images/text-taipei.png");
  background-size: auto;
}
#index .taichung-block {
  left: 50%;
  top: 0;
  background-image: url("../images/image-taichung.jpg");
  background-size: auto;
  background-size: cover;
  background-position: center;
}
#index .taichung-block .text {
  background-image: url("../images/text-taichung.png");
  background-size: auto;
}
#index .footer {
  position: absolute;
  left: 50%;
  bottom: 30px;
  background-image: url("../images/text-footer.png");
  background-size: auto;
  width: 164px;
  height: 54px;
  margin-left: -82px;
}
@media (max-width: 640px) {
  /* index */
  #index .taipei-block,
  #index .taichung-block {
    width: 100%;
    height: 50%;
  }
  #index .taipei-block .container,
  #index .taichung-block .container {
    position: fixed;
    width: 100%;
    height: calc((100% - 140px) * 0.5);
  }
  #index .taipei-block .container .text,
  #index .taichung-block .container .text {
    top: 50%;
    margin-top: -101.5px;
    background-position: center;
    background-repeat: no-repeat;
  }
  #index .taipei-block {
    background-image: url("../images/image-taichung.m.jpg");
    background-size: auto;
  }
  #index .taipei-block .container {
    top: 0;
  }
  #index .taichung-block {
    left: 0;
    top: 50%;
    background-image: url("../images/image-taipei.m.jpg");
    background-size: auto;
  }
  #index .taichung-block .container {
    bottom: 0;
  }
  #index .middle-cover {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    height: 140px;
    margin-top: -70px;
    background-color: #000000;
    opacity: 0.85;
  }
  #index .footer {
    bottom: 50%;
    margin-bottom: -29px;
  }
}
@media (max-width: 640px) and (max-height: 666px) {
  #index .taipei-block .container .text,
  #index .taichung-block .container .text {
    top: 20px;
    margin-top: 0;
    background-size: contain;
    height: calc(100% - (20px * 2));
  }
}
