@import "common-mixins.less";

@background-color: white;

@device-width-a: 1280px;

html {
    padding: 0;
    margin: 0;
}
body{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: @background-color;
    padding: 0;
    margin: 0;
}
#scene-container{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#invisible-container{
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

/* index */
#index {
    position: fixed;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .taipei-block, .taichung-block{

        position: absolute;
        cursor: pointer;
        width: 50%;
        height: 100%;

        .cover{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: .3;

            transition: opacity .5s linear;
        }

        &:hover{
            .cover{
                opacity: 0;
            }
        }

        .text{

            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -120px;

            .image-bg('text-taipei.png');
            width: 344px;
            height: 203px;
            margin-left: -172px;
        }


    }

    .taipei-block{
        left: 0;
        top: 0;
        .image-bg('image-taipei.jpg');
        background-size: cover;
        background-position: center;

        .text{
            .image-bg('text-taipei.png');
        }
    }

    .taichung-block{
        left: 50%;
        top: 0;
        .image-bg('image-taichung.jpg');
        background-size: cover;
        background-position: center;

        .text{
            .image-bg('text-taichung.png');
        }

    }

    .footer{
        position: absolute;
        left: 50%;
        bottom: 30px;

        .image-bg('text-footer.png');
        width: 164px;
        height: 54px;
        margin-left: -82px;
    }



}

@import "main-mobile.less";