<div id="about-us">
    <div class="key-images site-dif"></div>

    <div class="part-1">

        <div class="title-image"></div>
        <div class="title-text">媽媽與寶貝  最「家」專業產後照護</div>

        <div class="left-part"></div>

        <div class="right-part">
            「從土地，成為建築，再變成家」，<br class="sp-only"/>幸福傳遞，用愛永續。<br/><br/>

            2019年，麗寶機構從建設業跨足<br class="sp-only"/>產後護理領域，<br/>
            成立關係企業麗馨國際。<br/><br/>

            『馨』是芬芳、綻放香氣，<br class="sp-only"/>我們以華人傳統坐月子的理念為初心，<br/>
            結合西方醫養科學，<br class="sp-only"/>提供您專業照護與頂級服務，<br/>
            讓母嬰在自在如家的環境中休息成長，<br class="sp-only"/>更能綻放生命的香氣。<br/><br/>

            「把蓋房子，當成交朋友」<br class="sp-only"/>參與上萬戶家庭的幸福歷程，<br/>
            現在更要將家的情感，溫暖延續，<br/>
            在您人生的每個階段，<br class="sp-only"/>給予您最好的服務與呵護。<br/><br/>

            目前全台設有淡水館麗格產後護理中心、<br/>
            台中館麗馨產後護理中心，<br/>
            歡迎您預約參觀。<br/>
            您是我的寶，該託付給最好「麗馨國際」


        </div>

    </div>

</div>