<div id="care">
    <div class="key-images"></div>

    <div class="part-1">
        <div class="title-image"></div>
        <div class="title-text">專業醫療團隊‧全方位為您著想</div>
        <div class="title-block">
            <div class="text">醫護團隊</div>
        </div>

        <ul class="detail">
            <li>
                <span class="site-dif taipei-only">醫學中心級婦產科醫生每週一次定期訪視媽媽</span>
                <span class="site-dif taichung-only">教學醫院婦產科醫師每週定期訪視媽媽</span>
                <br class="pc-only"/>
                提供專業諮詢、產後身體復元狀況與身體評估
            </li>
            <li>
                教學醫院小兒科醫師每週定期巡診<br class="pc-only"/>
                提供專業諮詢與寶寶最詳細的身體檢查與發展評估
            </li>
        </ul>

        <div class="spacer"></div>

    </div>

    <div class="part-2">

        <div class="left-part"></div>
        <div class="right-part">

            <div class="middle">

                <!-- taipei only -->
                <div class="site-dif taipei-only">
                    <ul class="title">
                        <li>資深護理長具備20年以上婦兒科與產後照護經驗</li>
                    </ul>
                    <div class="list sim-table">

                        <div class="list-item sim-tr">

                            <div class="sim-td">
                                <div class="title-block">
                                    <div class="text">護理長學歷</div>
                                </div>
                            </div>

                            <div class="sim-td">
                                <ul class="detail simple">
                                    <li>
                                        輔仁大學 護理系
                                    </li>
                                </ul>

                                <div class="spacer"></div>

                            </div>

                        </div>

                        <div class="list-item sim-tr">

                            <div class="sim-td">
                                <div class="title-block">
                                    <div class="text">護理長經歷</div>
                                </div>
                            </div>

                            <div class="sim-td">
                                <ul class="detail">
                                    <li>
                                        醫學中心婦兒科經歷 25年以上
                                    </li>
                                    <li>
                                        產後護理之家 護理長&督導 5年以上
                                    </li>
                                    <li>
                                        輔仁大學醫學院護理系大三臨床實習指導老師
                                    </li>
                                    <li>
                                        國防護理系臨床指導老師
                                    </li>
                                    <li>
                                        台北榮總婦幼門診團體護理指導講師
                                    </li>
                                </ul>

                                <div class="spacer"></div>
                            </div>

                        </div>

                    </div>

                </div>

                <!-- taichung only -->
                <div class="site-dif taichung-only">
                    <ul class="title">
                        <li>婦幼產兒領域實務經驗30年</li>
                    </ul>
                    <div class="list sim-table">

                        <div class="list-item sim-tr">

                            <div class="sim-td">
                                <div class="title-block">
                                    <div class="text">負責人現職</div>
                                </div>
                            </div>

                            <div class="sim-td">

                                <ul class="detail">
                                    <li>麗寶集團 健康醫療部 護理總監</li>
                                    <li>麗馨產後護理之家 機構負責人</li>
                                    <li>衛生福利部 國民健康署/母奶講師</li>
                                    <li>衛生福利部 國民健康署 母嬰親善醫療院所認證/<br class="pc-only"/>認證委員</li>
                                </ul>

                                <div class="spacer"></div>

                            </div>

                        </div>

                        <div class="list-item sim-tr">

                            <div class="sim-td">
                                <div class="title-block">
                                    <div class="text">學歷</div>
                                </div>
                            </div>

                            <div class="sim-td">
                                <ul class="detail">

                                    <li>靜宜大學 管理研究所/管理碩士</li>
                                    <li>弘光科技大學 護理系/學士</li>
                                    <li>衛生福利部 高危險妊娠.遺傳諮詢/研修結業</li>
                                    <li>弘光科技大學 中醫護理學分班/結業</li>

                                </ul>

                                <div class="spacer"></div>
                            </div>

                        </div>

                        <div class="list-item sim-tr">

                            <div class="sim-td">
                                <div class="title-block">
                                    <div class="text">資歷</div>
                                </div>
                            </div>

                            <div class="sim-td">
                                <ul class="detail">

                                    <li>光田綜合醫院 產房/婦產科病房及門診 護理師</li>
                                    <li>童綜合醫院 產房/婦產科病房/嬰兒室/病嬰室 <br class="pc-only"/>護理長</li>
                                    <li>上海康程醫院管理諮詢公司/外聘護理專家</li>
                                    <li>中國 JCI醫院評鑑.婦幼醫院.精實護理.月子會所/<br class="pc-only"/>輔導老師.護理專家</li>

                                </ul>

                                <div class="spacer"></div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

          </div>

          <div class="spacer"></div>



    </div>

    <div class="part-3">

        <div class="section-1"></div>
        <div class="section-2">

            <div class="item">
                <div class="title-block">
                    <div class="text">媽媽照護</div>
                </div>

                <div class="list">
                    <div class="list-item">
                        <ul class="title">
                            <li>由專業護理人員親自到房，提供一對一專業護理指導與諮詢</li>
                        </ul>
                        <!--<div class="title">・由專業護理人員親自到房，提供一對一專業護理指導與諮詢:</div>-->

                        <ul class="detail">
                            <li>彈性的親子同室，乳腺疏通、母乳哺育、束腹帶使用...等，最專業細心溫暖的母育相關照護經驗分享與指導</li>
                            <li>產後身體復原評估與衛教指導</li>
                            <li>精心準備漢方藥浴配方，由外而內調養</li>
                        </ul>


                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="part-4">

        <div class="section-1 site-dif"></div>
        <div class="section-2">

            <div class="item">
                <div class="title-block">
                    <div class="text">寶寶照護</div>
                </div>


                <div class="list">

                    <div class="list-item">
                        <!--<div class="title">・隨時關注</div>-->
                        <ul class="title">
                            <li>隨時關注</li>
                        </ul>
                        <ul class="detail">
                            <li class="site-dif taipei-only">麗格產後護理之家使用天然有機棉衣及源自德國純天然品牌沐浴用品，呵護寶寶肌膚</li>
                            <li>24小時嬰兒室全透明化護理照護，並提供一對一即時影像觀看</li>
                        </ul>
                    </div>

                    <div class="list-item">
                        <!--<div class="title">・精心照顧</div>-->
                        <ul class="title">
                            <li>精心照顧</li>
                        </ul>
                        <ul class="detail">
                            <li>專業醫療照護設備，配置有:非侵入式黃疸檢測儀、血氧檢測分析儀、多角度紫外線消毒滅菌燈、急救設備..等，高規格醫療器材</li>
                        </ul>
                    </div>

                    <div class="list-item">
                        <!--<div class="title">・呵護寶貝</div>-->
                        <ul class="title">
                            <li>呵護寶貝</li>
                        </ul>
                        <ul class="detail">
                            <li class="site-dif taipei-only">使用天然有機棉衣與歐盟認證寶寶沐浴用品，呵護寶寶肌膚</li>
                            <li class="site-dif taichung-only">使用天然有機棉衣及源自德國純天然品牌沐浴用品，呵護寶寶肌膚</li>
                            <li>夜間睡眠習慣培養</li>
                            <li>嬰兒設施、成長紀錄</li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="item">
                <div class="title-block">
                    <div class="text">產後教育</div>
                </div>

                <div class="list">
                    <div class="list-item no-detail">
                        <div class="title">
                            由<span class="site-dif taipei-only">麗格</span><span class="site-dif taichung-only">麗馨</span>產後護理之家的產後照護團隊，打造全方位新手親子教室<br/>
                            從「作息與身心調養」、「產後觀念」、「嬰兒按摩」等系列課程
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="back-to-top pc-only">

        <div class="icon"></div>

    </div>

</div>