<div id="care">
    <div class="key-images"></div>

    <div class="part-1">
        <div class="title-image"></div>
        <div class="title-text">專業醫療團隊‧全方位為您著想</div>
        <div class="title-block">
            <div class="text">醫護團隊</div>
        </div>

        <ul class="detail">
            <li>
                醫學中心級婦產科醫生每週一次定期訪視媽媽，<br/>
                提供專業諮詢、產後身體復元狀況與身體評估。
            </li>
            <li>
                專任小兒科醫師每週二次定期巡診，<br/>
                提供專業諮詢與寶寶最詳細的身體檢查與發展評估。
            </li>
        </ul>

        <div class="spacer"></div>

    </div>

    <div class="part-2">

        <div class="left-part"></div>
        <div class="right-part">

            <div class="title">・資深護理長具備十八年以上婦兒科與產後照護經驗:</div>
            <div class="list">

                <div class="list-item">
                    <div class="title-block">
                        <div class="text">經歷</div>
                    </div>

                    <ul class="detail">
                        <li>
                            醫學中心婦兒科經歷 10年以上
                        </li>
                        <li>
                            產後護理之家 護理長&督導 7年以上
                        </li>
                    </ul>

                    <div class="spacer"></div>
                </div>

                <div class="list-item">
                    <div class="title-block">
                        <div class="text">專業證照</div>
                    </div>

                    <ul class="detail">
                        <li>NRP</li>
                        <li>成人暨小兒加護訓練證書</li>
                        <li>華人泌乳顧問認證初階、進階、高階三階段母乳哺育課程完訓</li>
                        <li>護理師、護士證書</li>
                    </ul>

                      <div class="spacer"></div>
                  </div>

                  <div class="list-item">
                      <div class="title-block">
                          <div class="text">個人成就</div>
                      </div>

                      <ul class="detail">
                          <li>103年:產後護理機構評鑑 優等</li>
                          <li>104年獲頒 台北市績優護理人員獎</li>
                          <li>104年協台北市衛生局 進行日本東京醫療學術團~對產後機構的參訪與經驗交流。</li>
                          <li>106年:產後護理機構評鑑 專業類 特色機構表揚~獲台灣評鑑協會邀請:進行成果發表。</li>
                      </ul>

                      <div class="spacer"></div>
                  </div>

              </div>

          </div>

          <div class="spacer"></div>



    </div>

    <div class="part-3">

        <div class="left-part">

            <div class="item">
                <div class="title-block">
                    <div class="text">媽媽照護</div>
                </div>

                <div class="list">
                    <div class="list-item">
                        <div class="title">・由專業護理人員親自到房，提供一對一專業護理指導與諮詢:</div>

                        <ul class="detail">
                            <li>彈性的母嬰同室，乳腺疏通、母乳哺育、綁腹帶..等，最專業細心溫暖的母育相關照護經驗分享與指導。</li>
                            <li>產後身體復原評估與衛教指導。</li>
                            <li>精心準備漢方藥浴配方，由外而內調養身體。</li>
                        </ul>


                    </div>
                </div>
            </div>

        </div>
        <div class="right-part"></div>

    </div>

    <div class="part-4">

        <div class="left-part"></div>
        <div class="right-part">

            <div class="item">
                <div class="title-block">
                    <div class="text">寶寶照護</div>
                </div>


                <div class="list">

                    <div class="list-item">
                        <div class="title">・隨時關注</div>
                        <ul class="detail">
                            <li>專業人員24小時細心照護，寶寶照護比例1:5</li>
                            <li>24小時嬰兒室全透明化護理照護，並提供一對一即時影像觀看。</li>
                        </ul>
                    </div>

                    <div class="list-item">
                        <div class="title">・精心照顧</div>
                        <ul class="detail">
                            <li>專業醫療照護設備，配置有:非侵入式黃疸檢測儀、血氧檢測分析儀、多角度紫外線消毒滅菌燈、急救設備..等，高規格醫療器材。</li>
                        </ul>
                    </div>

                    <div class="list-item">
                        <div class="title">・呵護寶貝</div>
                        <ul class="detail">
                            <li>使用天然有機棉衣與歐盟認證寶寶沐浴用品，呵護寶寶肌膚</li>
                            <li>夜間睡眠習慣培養。</li>
                            <li>嬰兒設施、成長紀錄</li>
                            <li>獨立式寶寶游泳池，提供專業嬰兒按摩SPA，激發寶寶原始潛能。</li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="item">
                <div class="title-block">
                    <div class="text">產後教育</div>
                </div>

                <div class="list">
                    <div class="list-item no-detail">
                        <div class="title">
                            由產後照護團隊，量身打造全方位新手母嬰教室，<br/>
                            從「作息與身心調養」、「產後觀念」、「嬰兒按摩」等系列課程。
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!--
    <div class="part-3">

          <div class="left-part">

              <div class="item">
                  <div class="title-block">
                      <div class="text">媽媽照護</div>
                  </div>

                  <div class="list">
                      <div class="list-item">
                          <div class="title">・由專業護理人員親自到房，提供一對一專業護理指導與諮詢:</div>

                          <ul class="detail">
                              <li>彈性的母嬰同室，乳腺疏通、母乳哺育、綁腹帶..等，最專業細心溫暖的母育相關照護經驗分享與指導。</li>
                              <li>產後身體復原評估與衛教指導。</li>
                              <li>精心準備漢方藥浴配方，由外而內調養身體。</li>
                          </ul>


                      </div>
                  </div>
              </div>

              <div class="item">
                  <div class="title-block">
                      <div class="text">產後教育</div>
                  </div>

                  <div class="list">
                      <div class="list-item no-detail">
                          <div class="title">
                              由產後照護團隊，量身打造全方位新手母嬰教室，<br/>
                              從「作息與身心調養」、「產後觀念」、「嬰兒按摩」等系列課程。
                          </div>
                      </div>
                  </div>
              </div>

          </div>

          <div class="right-part">

              <div class="item">
                  <div class="title-block">
                      <div class="text">寶寶照護</div>
                  </div>


                  <div class="list">

                      <div class="list-item">
                          <div class="title">・隨時關注</div>
                          <ul class="detail">
                              <li>專業人員24小時細心照護，寶寶照護比例1:5</li>
                              <li>24小時嬰兒室全透明化護理照護，並提供一對一即時影像觀看。</li>
                          </ul>
                      </div>

                      <div class="list-item">
                          <div class="title">・精心照顧</div>
                          <ul class="detail">
                              <li>專業醫療照護設備，配置有:非侵入式黃疸檢測儀、血氧檢測分析儀、多角度紫外線消毒滅菌燈、急救設備..等，高規格醫療器材。</li>
                          </ul>
                      </div>

                      <div class="list-item">
                          <div class="title">・呵護寶貝</div>
                          <ul class="detail">
                              <li>使用天然有機棉衣與歐盟認證寶寶沐浴用品，呵護寶寶肌膚</li>
                              <li>夜間睡眠習慣培養。</li>
                              <li>嬰兒設施、成長紀錄</li>
                              <li>獨立式寶寶游泳池，提供專業嬰兒按摩SPA，激發寶寶原始潛能。</li>
                          </ul>
                      </div>

                  </div>
              </div>

          </div>


          <div class="spacer"></div>

      </div>
    -->
    <div class="back-to-top">

        <div class="icon"></div>

    </div>

</div>