<div id="environmental">

    <div class="env-main">


        <div class="key-images"></div>

        <div class="part-1">

            <div class="title-image"></div>
            <div class="title-text">環境設施</div>

            <!--<div class="left-part">-->

            <!--</div>-->

            <!--<div class="right-part">-->

                <!--<div class="title">像度假‧也像回家</div>-->
                <!--<div class="line"></div>-->
                <!--<div class="detail">-->
                    <!--麗格緊鄰淡水河畔，擁有39間客房，<br/>-->
                    <!--以飯店式的高級訂製空間美學，<br class="sp-only"/>融入產後照護空間。<br/>-->
                    <!--其中39間房格局寬敞，搭配大面採光，<br/>-->
                    <!--淡水景致盡收眼底，<br/>-->
                    <!--在房內盡享自然天光的照拂，<br/>-->
                    <!--由外而內身心靈徹底放鬆。-->
                <!--</div>-->

            <!--</div>-->

            <div class="spacer"></div>

        </div>

        <div class="part-2">

            <div class="container">

                <div class="room">

                    <div class="cover"></div>
                    <div class="deco"></div>
                    <div class="detail">
                        <div class="name-ch"></div>
                        <div class="line"></div>
                        <div class="name-en"></div>
                    </div>

                </div>

                <!--
                <div class="room small">
                    <div class="image"></div>
                    <div class="detail">

                        <div class="left-part">精緻房</div>

                        <div class="line"></div>

                        <div class="right-part">
                            <div class="row">面積 : <span class="detail">7~9坪</span></div>
                            <div class="row">景觀 : <span class="detail">海景 / 城市</span></div>
                        </div>
                    </div>
                </div>

                <div class="room small">
                    <div class="image"></div>
                    <div class="detail">

                        <div class="left-part">精緻房</div>

                        <div class="line"></div>

                        <div class="right-part">
                            <div class="row">面積 : <span class="detail">7~9坪</span></div>
                            <div class="row">景觀 : <span class="detail">海景 / 城市</span></div>
                        </div>
                    </div>
                </div>

                <div class="room small">
                    <div class="image"></div>
                    <div class="detail">

                        <div class="left-part">精緻房</div>

                        <div class="line"></div>

                        <div class="right-part">
                            <div class="row">面積 : <span class="detail">7~9坪</span></div>
                            <div class="row">景觀 : <span class="detail">海景 / 城市</span></div>
                        </div>
                    </div>
                </div>

                <div class="room small">
                    <div class="image"></div>
                    <div class="detail">

                        <div class="left-part">精緻房</div>

                        <div class="line"></div>

                        <div class="right-part">
                            <div class="row">面積 : <span class="detail">7~9坪</span></div>
                            <div class="row">景觀 : <span class="detail">海景 / 城市</span></div>
                        </div>
                    </div>
                </div>

                <div class="room large">
                    <div class="image"></div>
                    <div class="detail">

                        <div class="left-part">精緻房</div>

                        <div class="line"></div>

                        <div class="right-part">
                            <div class="row">面積 : <span class="detail">7~9坪</span></div>
                            <div class="row">景觀 : <span class="detail">海景 / 城市</span></div>
                        </div>
                    </div>
                </div>
                -->

            </div>

            <div class="triangle"></div>

        </div>

        <div class="part-3">

            <div class="container">

                <div class="item">
                    <div class="title"><span class="heart"></span><span class="title-text">住的安心</span></div>
                    <div class="detail">全室採用門禁感應管理系統</div>
                </div>

                <div class="spacer"></div>

            </div>

        </div>

        <div class="part-4">

            <div class="title-image"></div>
            <div class="title-text">公共區域</div>

            <div class="container">



                <div class="room">

                    <div class="cover"></div>
                    <div class="deco"></div>
                    <div class="detail">
                        <div class="name-ch"></div>
                    </div>

                </div>

                <!--<div class="room">-->
                    <!--<div class="image"></div>-->
                    <!--<div class="detail"><div class="text">六星級產後會所</div></div>-->
                <!--</div>-->

                <!--<div class="room">-->
                    <!--<div class="image"></div>-->
                    <!--<div class="detail"><div class="text">接待大廳</div></div>-->
                <!--</div>-->

                <!--<div class="room">-->
                    <!--<div class="image"></div>-->
                    <!--<div class="detail"><div class="text">公共空間</div></div>-->
                <!--</div>-->

                <!--<div class="room">-->
                    <!--<div class="image"></div>-->
                    <!--<div class="detail"><div class="text">多功能教室</div></div>-->
                <!--</div>-->

                <div class="spacer"></div>

            </div>


        </div>

        <div class="part-5">

            <div class="title-image"></div>
            <div class="title-text">嬰兒室</div>

            <div class="container">

                <!-- 台北 -->
                <div class="site-dif taipei-only">
                    <div class="part">

                        <div class="image"><div class="cover"></div></div>

                        <div class="title">全透明化管理 嚴謹護理流程</div>

                        <div class="item">
                            <div class="heart"></div>
                            <div class="detail">
                                麗格產後護理之家採24小時全透明式護理照護，配置非侵入式黃疸檢測儀、血氧檢測分析儀等專業醫療器材
                            </div>
                        </div>

                        <div class="item">
                            <div class="heart"></div>
                            <div class="detail">
                                麗格產後護理之家一對一寶寶即時視訊系統，可由房內電視頻道觀看，或可透過智慧型手機、平板電腦、筆電、桌上型電腦，於登入網站輸入會員帳號密碼後，即可觀看寶寶即時影像
                            </div>
                        </div>

                        <div class="item">
                            <div class="heart"></div>
                            <div class="detail">
                                使用天然有機棉衣與歐盟認證寶寶沐浴用品
                            </div>
                        </div>

                    </div>

                    <div class="part">

                        <div class="image site-dif"><div class="cover"></div></div>

                        <div class="title">嬰兒游泳池</div>

                        <div class="item">
                            <div class="heart"></div>
                            <div class="detail">
                                麗格產後護理之家的獨立式寶寶游泳池，激發寶寶原始潛能
                            </div>
                        </div>

                    </div>
                </div>

                <!-- 台中 -->
                <div class="site-dif taichung-only">
                    <div class="part">

                        <div class="image"><div class="cover"></div></div>

                        <div class="title">全透明化管理 嚴謹護理流程</div>

                        <div class="item">
                            <div class="heart"></div>
                            <div class="detail">
                                麗馨產後護理之家一對一寶寶即時視訊系統，可24小時觀看寶寶即時影像
                            </div>
                        </div>

                        <div class="item">
                            <div class="heart"></div>
                            <div class="detail">
                                麗馨產後護理之家使用天然有機棉衣與德國認證寶寶沐浴用品
                            </div>
                        </div>

                        <div class="item">
                            <div class="heart"></div>
                            <div class="detail">
                                嬰兒室獨立空調，每週定期紫外線消毒殺菌<br/>
                                設置i-Aeris室內空氣品質監測系統<br/>
                                可即時監控室內品質，全方位守護寶寶健康

                            </div>
                        </div>

                        <div class="item">
                            <div class="heart"></div>
                            <div class="detail">
                                為防止交互感染，嬰兒室分區域照護
                            </div>
                        </div>

                    </div>

                    <div class="part">

                        <div class="image site-dif"><div class="cover"></div></div>

                        <div class="title">哺乳室、隔離室、觀察室</div>

                        <div class="item">
                            <div class="heart"></div>
                            <div class="detail">
                                哺乳室24小時開放，提供媽媽依寶寶需要哺乳
                            </div>
                        </div>

                        <div class="item">
                            <div class="heart"></div>
                            <div class="detail">
                                皆為獨立水源之沐浴設備、調奶區、空調
                            </div>
                        </div>

                        <div class="item">
                            <div class="heart"></div>
                            <div class="detail">
                                麗馨產後護理之家24小時執行門禁管制，迎賓櫃台佇立於
                                大門旁嚴格過濾訪客
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <div class="back-to-top">

            <div class="icon"></div>

        </div>
    </div>

    <div class="env-sub">

        <div class="sub-key-images">

            <!--<div class="image-slider-controller">-->

                <!--<div class="dot"><div class="icon"></div></div>-->
                <!--<div class="dot selected"><div class="icon"></div></div>-->
                <!--<div class="dot"><div class="icon"></div></div>-->
                <!--<div class="dot"><div class="icon"></div></div>-->

            <!--</div>-->

        </div>
        <div class="detail-part">

            <div class="title-text"></div>
            <div class="line"></div>

            <div class="detail">

                <div class="features">

                    <div class="left-part">
                        <div class="text">特色說明</div>
                    </div>
                    <div class="middle-part">
                        <div class="middle-line"></div>
                    </div>
                    <ul class="right-part">

                        <li>精品級飯店設計，一進房灑落的暖黃光，為空間營造放鬆氛圍。</li>
                        <li>獨立筒雙人床、坐躺兩用的貴妃椅，讓產後媽媽和新手爸爸，可以充分享受休息時光。</li>

                    </ul>

                </div>

                <div class="middle-line"></div>

                <div class="equipments">



                    <div class="left-part">
                        <div class="text">設備介紹</div>
                    </div>
                    <div class="middle-part">
                        <div class="middle-line"></div>
                    </div>
                    <ul class="right-part">


                            <li>精品級飯店設計，一進房灑落的暖。</li>
                            <li>獨立筒雙人床、坐躺兩用的貴妃椅，讓產後媽媽和新手爸爸，可以充分享受休息時光。</li>
                            <li>精品級飯店設計，一進房灑落的暖。</li>
                            <li>精品級飯店設計，一進房灑落的暖。</li>
                            <li>精品級飯店設計，一進房灑落的暖。</li>
                            <li>精品級飯店設計，一進房灑落的暖。</li>
                            <li>精品級飯店設計，一進房灑落的暖。</li>
                            <li>精品級飯店設計，一進房灑落的暖。</li>
                            <li>精品級飯店設計，一進房灑落的暖。</li>
                            <li>精品級飯店設計，一進房灑落的暖。</li>


                    </ul>

                </div>

                <div class="btn-back">回房型列表</div>

            </div>

        </div>


    </div>

</div>