
<div id="index">

    <div class="key-images">

        <div class="image-container">
            <!--<div class="image"></div>-->
        </div>

        <div class="reservation-icon"></div>

    </div>

    <div class="brown-bar"></div>

    <div class="about-us">

        <div class="left-part">

            <div class="title-image"></div>
            <div class="title-text">媽媽與寶貝‧最「家」專業產後照護 </div>
            <div class="line"></div>
            <div class="image-m"></div>
            <div class="contents">
                <p>
                    「從土地，成為建築，再變成家」，幸福傳遞，用愛永續。
                </p>
                <p>
                    『馨』是芬芳、綻放香氣，我們以華人傳統坐月子的理念為初心，<br class="pc-only"/>
                    結合西方醫養科學，提供您專業照護與頂級服務，<br class="pc-only"/>
                    讓母嬰在自在如家的環境中休息成長，更能綻放生命的香氣。
                </p>
                <p>
                    「把蓋房子，當成交朋友」參與上萬戶家庭的幸福歷程，<br class="pc-only"/>
                    現在更要將家的情感，溫暖延續，<br class="pc-only"/>
                    在您人生的每個階段，給予您最好的服務與呵護。
                </p>

            </div>
            <div class="bottom-text"> 您是我的寶，該託付給最好「麗馨國際」</div>
            <div class="btn-more"></div>

        </div>

        <div class="right-part"></div>

    </div>

    <div class="environmental">

        <div class="title-image"></div>
        <div class="title-text">像度假‧也像回家</div>
        <div class="line"></div>
        <div class="detail">
            <!--麗格緊鄰淡水河畔，擁有39間客房，<br>-->
            <!--以飯店式的高級訂製空間美學，融入產後照護空間。<br>-->
            <!--其中39間房格局寬敞，搭配大面採光，淡水景致盡收眼底，<br>-->
            <!--在房內盡享自然天光的照拂，由外而內身心靈徹底放鬆。-->
        </div>

        <div class="sample-part">

            <div class="sample">
                <div class="image"></div>
                <div class="deco"></div>
                <div class="sample-bottom">
                    <div class="text">
                        <div class="triangle"></div>
                    </div>
                </div>
            </div>

            <div class="sample">
                <div class="image"></div>
                <div class="deco"></div>
                <div class="sample-bottom">
                    <div class="text">
                        <div class="triangle"></div>
                    </div>
                </div>
            </div>

            <div class="sample">
                <div class="image"></div>
                <div class="deco"></div>
                <div class="sample-bottom">
                    <div class="text">
                        <div class="triangle"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="malt">

        <div class="top-part">

            <div class="title-image"></div>
            <div class="title-text">健康天然養生古法‧專屬訂製月子膳食</div>
            <div class="line"></div>

            <div class="detail">
                由中醫師、營養師共同調配客製化<br class="sp-only"/>月子膳食、湯品、飲品，<br class="sp-only"/>從為媽咪提供階段性食補。
            </div>

        </div>

        <div class="sample-part">

            <div class="sample">
                <div class="sample-top">
                    <div class="title-image"></div>
                    <div class="title">排惡露、健脾胃</div>
                    <div class="contents">
                        本階段調理原則為<br>
                        幫助產後媽媽排除惡露，<br>
                        緩解疼痛、傷口修復，<br>
                        同時強健脾胃消化與吸收效率，<br>
                        多使用高纖蔬果與<br>
                        富含膠原蛋白天然食材。
                    </div>
                </div>
                <div class="image"></div>
            </div>

            <div class="sample">
                <div class="sample-top">
                    <div class="title-image"></div>
                    <div class="title">補氣血、增補奶水</div>
                    <div class="contents">
                        溫補調養，提供麻油料理，<br>
                        配合腸胃調理方藥，<br>
                        如黨參、黃芪、川芎、王不留行、通草等<br>
                        黃金比例調製膳食，<br>
                        健脾益氣幫助腸胃吸收，<br>
                        補充氣血營養，促進乳汁分泌。
                    </div>
                </div>
                <div class="image"></div>
            </div>

            <div class="sample">
                <div class="sample-top">
                    <div class="title-image"></div>
                    <div class="title">補氣血、強筋固腎</div>
                    <div class="contents">
                        食補調養搭配白朮、當歸、陳皮、<br>
                        桂枝、芍藥等調理湯品，<br>
                        補養肝腎氣血，<br>
                        幫助產後媽媽恢復體力，<br>
                        促進血液循環、養顏美容。
                    </div>
                </div>
                <div class="image"></div>
            </div>

        </div>

        <div class="drag-hint"></div>

        <div class="bottom-part">

            <div class="text">

                獻給最偉大的母親<br>
                用心調理，產後更健康

            </div>
            <div class="btn-more"></div>

        </div>



    </div>

    <div class="care">


        <div class="top-part sp-only">
            <div class="title-image"></div>
            <div class="title-text">寶寶照護比例1:5‧全方位為您著想</div>
        </div>

        <div class="block align-right">

            <div class="image"></div>
            <div class="detail">

                <div class="middle">

                    <div class="title-image pc-only"></div>
                    <div class="title-text pc-only">寶寶照護比例1:5‧全方位為您著想</div>
                    <div class="line pc-only"></div>

                    <div class="contents">

                        <div class="brown-block"></div>
                        <div class="texts">

                            <ul>
                                <li>醫學中心級婦產科醫生每週定期訪視媽媽，提供產後身體評估</li>
                                <li>專任小兒科醫師每週二次訪視寶寶</li>
                                <li>深護理主管具備二十八年以上婦兒科照護經驗</li>
                            </ul>

                        </div>
                        <div class="spacer"></div>


                    </div>
                    <div class="btn-more"></div>

                </div>

            </div>

            <div class="cover"></div>

        </div>

        <div class="block align-left">

            <div class="image"></div>
            <div class="detail">

                <div class="middle">

                    <!--<div class="title-image"></div>-->
                    <div class="contents">

                        <div class="brown-block"></div>
                        <div class="texts">


                            <ul>
                                <li>一對一專業護理指導與諮詢。</li>
                                <li>彈性母嬰同室、泌乳指導。</li>
                                <li>母育相關照護分享與指導</li>
                                <li>離館關懷與諮詢</li>
                            </ul>
                            <!--・ 一對一專業護理指導與諮詢。<br/>-->
                            <!--・ 彈性母嬰同室、泌乳指導。<br/>-->
                            <!--・ 母育相關照護分享與指導<br/>-->
                            <!--・ 離館關懷與諮詢-->

                        </div>
                        <div class="spacer"></div>


                    </div>
                    <div class="btn-more"></div>

                </div>

            </div>

            <div class="cover"></div>

        </div>

        <div class="block align-right">

            <div class="image"></div>
            <div class="detail">

                <div class="middle">

                    <!--<div class="title-image"></div>-->
                    <div class="contents">

                        <div class="brown-block"></div>
                        <div class="texts">

                            <ul>
                                <li>隨時關注</li>
                                <li>精心照顧</li>
                                <li>呵護寶貝</li>
                                <li>嬰兒設施、成長紀錄</li>
                            </ul>
                            <!--・　隨時關注<br/>-->
                            <!--・　精心照顧<br/>-->
                            <!--・　呵護寶貝<br/>-->
                            <!--・　嬰兒設施、成長紀錄-->

                        </div>
                        <div class="spacer"></div>


                    </div>
                    <div class="btn-more"></div>

                </div>

            </div>

            <div class="cover"></div>

        </div>

        <div class="block align-left">

            <div class="image"></div>
            <div class="detail">

                <div class="middle">

                    <!--<div class="title-image"></div>-->
                    <div class="contents">

                        <div class="brown-block"></div>
                        <div class="texts">

                            <span class="pc-only">新手媽媽量身課程<br/></span>
                            由產後照護醫療團隊，<br class="pc-only"/>
                            量身打造全方位新手母嬰教室，<br class="pc-only"/>
                            從「作息與身心調養」、「產後觀念」、「嬰兒按摩」等系列課程

                        </div>
                        <div class="spacer"></div>


                    </div>
                    <div class="btn-more"></div>

                </div>

            </div>

            <div class="cover"></div>

        </div>

    </div>

    <div class="back-to-top">

        <div class="icon"></div>

    </div>

</div>