<div id="malt">
    <div class="key-images"></div>

    <div class="malt-part">

        <div class="title-image"></div>
        <div class="title-text-1">健康天然養生古法‧專屬訂製月子膳食</div>
        <div class="line"></div>
        <div class="title-text-2">由中醫師、營養師共同調配客製化月子膳食、湯品、飲品，從為媽咪提供階段性食補。</div>

        <div class="step-1">
            <div class="title">排惡露、健脾胃</div>
            <div class="detail">
                本階段調理原則為<br/>
                幫助產後媽媽排除惡露，<br/>
                緩解疼痛、傷口修復，<br/>
                同時強健脾胃消化與吸收效率，<br/>
                多使用高纖蔬果與<br/>
                富含膠原蛋白天然食材。
            </div>
        </div>

        <div class="step-2">
            <div class="title">補氣血、增補奶水</div>
            <div class="detail">
                溫補調養，提供麻油料理，<br/>
                配合腸胃調理方藥，<br/>
                如黨參、黃芪、川芎、王不留行、通草等<br/>
                黃金比例調製膳食，<br/>
                健脾益氣幫助腸胃吸收，<br/>
                補充氣血營養，促進乳汁分泌。
            </div>
        </div>

        <div class="step-3">
            <div class="title">補氣血、強筋固腎</div>
            <div class="detail">
                食補調養搭配白朮、當歸、陳皮、<br/>
                桂枝、芍藥等調理湯品，<br/>
                補養肝腎氣血，<br/>
                幫助產後媽媽恢復體力，<br/>
                促進血液循環、養顏美容。
            </div>
        </div>

        <div class="foot-text">
            獻給最偉大的母親<br/>
            用心調理，產後更健康
        </div>

    </div>

    <div class="back-to-top">

        <div class="icon"></div>

    </div>

</div>