<div id="news">

    <div class="key-images"></div>

    <div class="title">

        <div class="title-image"></div>
        <!--<div class="title-text">10月開幕優惠開跑，歡迎預約參觀</div>-->

    </div>

    <div class="news-container">

        <div class="news-block">
            <div class="top-bar"></div>
            <div class="date-bar">
                <div class="year">2018</div>
                <div class="month">10</div>
                <div class="slash"></div>
                <div class="day">01</div>
            </div>

            <div class="title">慶開幕</div>

            <div class="detail">
                麗格產後護理之家即將在淡水開幕！<br/>
                專為產後媽媽打造六星飯店護褓空間，<br/>
                即日起至今年12月前入住，<br/>
                享新會員優惠。<br/>
                請洽預約專線 02-8626-9555

            </div>


            <div class="image-1"></div>
            <div class="image-2"></div>

            <div class="spacer"></div>

        </div>

        <!--<div class="news-block">-->
            <!--<div class="top-bar"></div>-->
            <!--<div class="date-bar">-->
                <!--<div class="year">2018</div>-->
                <!--<div class="month">10</div>-->
                <!--<div class="slash"></div>-->
                <!--<div class="day">01</div>-->
            <!--</div>-->

            <!--<div class="title">慶開幕 2</div>-->

            <!--<div class="detail">-->
                <!--麗格產後護理之家即將在淡水開幕！<br/>-->
                <!--專為產後媽媽打造六星飯店護褓空間，<br/>-->
                <!--即日起至今年12月前入住，<br/>-->
                <!--專為產後媽媽打造六星飯店護褓空間，<br/>-->
                <!--即日起至今年12月前入住，<br/>-->
                <!--專為產後媽媽打造六星飯店護褓空間，<br/>-->
                <!--即日起至今年12月前入住，<br/>-->
                <!--專為產後媽媽打造六星飯店護褓空間，<br/>-->
                <!--即日起至今年12月前入住，<br/>-->
                <!--享新會員優惠。<br/>-->
                <!--請洽預約專線 02-8626-9555-->

            <!--</div>-->


            <!--<div class="image-1"></div>-->
            <!--<div class="image-2"></div>-->

            <!--<div class="spacer"></div>-->

        <!--</div>-->

    </div>

</div>