<div id="open-live">

    <div class="key-images"></div>

    <div class="main-container">

        <div class="title-image"></div>
        <div class="title-text">寶寶即時影像</div>

        <div class="video-container">
            <canvas class="video-canvas"></canvas>
        </div>

        <div class="vip-detail">寶寶：<span class="baby-name"></span>　　　　媽咪：<span class="mon-name"></span></div>
        <div class="bottom-text">
            零距離觀看您的寶貝，勵馨最貼近您的心。
        </div>

        <div class="bottom-right-part">

            <div class="btn-share"></div>
            <!--<div class="qr-code-container">-->
            <!--<div class="qr-code-block">-->
            <!--<div class="qr-code"></div>-->
            <!--</div>-->

            <!--</div>-->

        </div>

    </div>


</div>