<div id="reservation">
    <div class="key-images"></div>

    <div class="part-1">
        <div class="title-image"></div>
        <div class="title-text">預約參觀</div>
    </div>

    <div class="part-2">

        <div class="desc">
            親愛的貴賓您好，<br/>
            感謝您預約參觀「麗格產後護理之家」，<br/>
            請您撥冗填寫以下資料，<br/>
            我們將儘快與您聯繫確認預約時段。<br/>
        </div>

        <div class="field">
            <div class="label">聯絡人</div>
            <input title="" class="field-input name" maxlength="30">
        </div>

        <div class="field">
            <div class="label">聯繫電話</div>
            <input title="" class="field-input phone" maxlength="30">
        </div>

        <div class="field">
            <div class="label">希望參觀日期</div>
            <input title="" class="field-input date" maxlength="30">
        </div>

        <div class="field">
            <div class="label">希望參觀時段</div>

            <select class="field-select time" title="">
                <!--<optgroup label="">-->
                <option value="1200 ~ 1300">1200 ~ 1300</option>
                <option value="1300 ~ 1400">1300 ~ 1400</option>
                <option value="1400 ~ 1500">1400 ~ 1500</option>
                <option value="1500 ~ 1600">1500 ~ 1600</option>
                <!--</optgroup>-->
            </select>
        </div>

        <div class="field">
            <div class="label">預產期</div>
            <input title="" class="field-input birth-date" maxlength="30">
        </div>

        <div class="field">
            <div class="label">Email</div>
            <input title="" class="field-input e-mail" maxlength="50">
        </div>

        <div class="field big">
            <div class="label">備註</div>
            <textarea title="" class="field-input memo" maxlength="100"></textarea>
        </div>

        <div class="btn-send"></div>

    </div>

</div>