<div id="vip-course">
    <div class="key-images"></div>

    <div class="part-1">

        <div class="title-image"></div>
        <div class="title-text">課程資訊</div>

        <div class="calender-container">



        </div>

        <div class="annotation">
            <span class="un-booked-node"></span> 表示有尚未預約的課程 <span class="booked-node"></span> 表示您已預約的課程 <span class="full-booked-node"></span> 表示該課程預約人數已滿
        </div>

    </div>

    <div id="course-booking">

        <div class="cover"></div>

        <div class="container">

            <div class="middle-wrapper">

                <div class="help-title">請點選您要改變預約的課程</div>

                <div class="item-container">
                    <div class="item">

                        <div class="point"></div>

                        <div class="row name">新生兒常見照護問題</div>
                        <div class="row time-and-teacher"><span class="time">14:30 ~ 15:30</span><span class="teacher">徐老師</span></div>

                        <div class="row memo">註解註解註解註解註解註解註解註解註解註解註解註解註解註解註解註解註解註解註解註解註解註解註解註解註解註解註解註解註解</div>

                        <div class="item-btn"></div>

                        <div class="book-status">
                            <div class="middle">
                                <div class="status-text"></div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="buttons">
                    <div class="btn-confirm">確　定</div>
                    <!--<div class="btn-cancel">取　　消</div>-->
                </div>

            </div>


        </div>

    </div>

</div>