<div id="vip-course">
    <div class="key-images"></div>

    <div class="part-1">

        <div class="title-image"></div>
        <div class="title-text">課程資訊</div>

        <div class="calender-container">



        </div>

        <div class="annotation">
            <span class="un-booked-node"></span> 表示有尚未預約的課程, <span class="booked-node"></span> 表示您已預約的課程
        </div>

    </div>

    <div id="course-booking">

        <div class="cover"></div>

        <div class="container">

            <div class="middle-wrapper">

                <div class="help-title">請點選您要改變預約的課程</div>

                <div class="item-container">
                    <div class="item">

                        <div class="head"></div>
                        <div class="time"><span class="title">時段: </span><span class="detail">14:30 ~ 15:30</span></div>
                        <div class="name"><span class="title">課程: </span><span class="detail">新生兒常見照護問新生兒常見照護問新生兒常見照護問新生兒常見照護問新生兒常見照護問</span></div>

                        <div class="book-status">
                            <div class="middle">
                                <div class="status-text"></div>
                            </div>
                        </div>

                    </div>

                    <div class="item booked">

                        <div class="head"></div>
                        <div class="time"><span class="title">時段: </span><span class="detail">14:30 ~ 15:30</span></div>
                        <div class="name"><span class="title">課程: </span><span class="detail">新生兒常見照護問題</span></div>

                        <div class="book-status">
                            <div class="middle">
                                <div class="status-text"></div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="buttons">
                    <div class="btn-confirm">確　定</div>
                    <!--<div class="btn-cancel">取　　消</div>-->
                </div>

            </div>


        </div>

    </div>

</div>