<div id="vip-baby">

    <div class="key-images"></div>

    <div class="main-container">

        <select class="part-select" title="">
            <!--<optgroup label="">-->
            <option value="/ForParents">獻給爸爸媽媽</option>
            <option value="/AboutMe">關於我</option>
            <option value="/Recoard" selected>成長紀錄</option>
            <!--</optgroup>-->
        </select>

        <div class="part-1 content-part">

            <div class="deco-1"></div>
            <div class="deco-2"></div>
            <div class="title-text">獻給我最愛的爸爸、媽媽</div>
            <div class="detail">
                首先… 感謝爸比＆媽咪讓我降臨在這個
                世界上。 幼小的我，肯定會在半夜時哇
                哇大哭而驚擾你們的美夢 ; 抑或是搗蛋
                地大小便。<br/><br/>

                然而，未能用言語表達的我，對於爸比
                ＆媽咪的辛勞，以及悉心呵護的神情，
                貫注於我的愛，我完全感受其中，我深
                愛你們。<br/><br/>

                感謝爸比＆媽咪不辭辛勞地照顧我，為
                我的新生帶來滿滿的愛與歡樂，讓我感
                受這世界的美好。

            </div>

            <div class="deco-3"></div>

        </div>

        <div class="part-2 content-part">

            <div class="baby-image"></div>

            <div class="title-text">張三豐</div>

            <div class="detail">

                有點緊張又有點興奮<br/>
                有點緊張又有點興奮<br/>
                有點緊張又有點興奮<br/>
                有點緊張又有點興奮<br/>
                有點緊張又有點興奮<br/>
                有點緊張又有點興奮<br/>
                有點緊張又有點興奮<br/>
                有點緊張又有點興奮<br/>
                有點緊張又有點興奮<br/>

            </div>

        </div>

        <div class="part-3 content-part">

            <div class="baby-image-container">
                <div class="image"></div>
                <div class="mask"></div>
            </div>

            <div class="deco-1"></div>

            <div class="misc-1"></div>

            <div class="title-text">我的第一張照片</div>

            <div class="detail">
                今天…是我來到嘉禾的第一天，
                有點緊張又有點興奮，護理師阿
                姨很慎重的幫我拍一張美美照要
                送給媽咪和爸比，我要睜大眼睛
                看鏡頭。
                今天…是我來到嘉禾的第一天，
                有點緊張又有點興奮，護理師阿
                姨很慎重的幫我拍一張美美照要
                送給媽咪和爸比，我要睜大眼睛
                看鏡頭。


            </div>


        </div>

    </div>


</div>